/*Reset*/
* {
	margin: 0;
}

img {
	width: 100%;
}

body {
	background-color: white;
}

/*Menu linje*/
nav a {
	width: 100%;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

#menuknap {
	display: inline-block;
	cursor: pointer;
	font-size: 3em;
}

#box_menu {
	list-style-type: none;
	transition: transform 3s;
	transform-origin: top left;
}

.toggle {
	display: none;
}

.hidden {
	display: none;
}

/* ----------TABLET----------------*/
@media only screen and (min-width: 500px) {
	nav a {
		display: flex;
	}


	#menuknap {
		display: none;
	}
}


/* ----------Desktop----------------*/
@media only screen and (min-width: 600px) {}
