/*Reset*/

* {
	margin: 0;
}

/*fællesfont*/


h1 {
	@font-face {
		font-family: 'autographyregular';
		src: url('autography-webfont.woff2') format('woff2'),
			url('autography-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
}




h2,
h3,
h4 {
	font-family: 'Martel',
		serif;
}

p {
	font-family: 'Lato',
		sans-serif;
	3em;
}

img {
	width: 100%;
}

body {
	background-color: white;
}

/*Menu linje*/

nav a {
	width: 100%;
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	top: -8vw;
	flex-direction: column;
}

#menuknap {
	display: inline-block;
	cursor: pointer;
	font-size: 3em;
}

#box_menu {
	list-style-type: none;
	transform-origin: top left;
}

#logo img {
	width: 60px;
	height: 59px;
}

.toggle {
	display: none;
}

.hidden {
	display: none;
}

footer {
	background-color: #baacb7;
	width: 100%;
	height: 25vh;
}

footer img {
	height: 30px;
	width: 30px;
}

footer .col {
	display: flex;
	flex-direction: row;
	gap: 20px;
	position: relative;
	top: 20px;
	left: 45%;
}

#adresse {
	font-family: 'lato';
	text-align: center;
	padding-top: 40px;
}

#copyright {
	font-family: 'lato';
	color: #404040;
	text-align: center;
	padding-top: 10px;
}

/* ----------TABLET----------------*/


/*@media only screen and (min-width: 500px) {}*/


/* ----------Desktop----------------*/

@media only screen and (min-width: 600px) {
	nav {
		/*        padding: 80vw;*/
	}

	ul {
		padding-left: 100px;
		padding-top: 10px;
		float: right;
	}

	li {
		float: left;
		padding: 10px;
	}

	li a {
		display: block;
		padding: 8px;
	}

	nav {
		display: inline;
		justify-content: space-around;
		position: relative;
		width: 100%;
		/*		text-align: justify;*/
		top: 0;
	}

	nav a {
		top: 5vw;
		padding-right: 20px
	}

	#menuknap {
		display: none;
	}
}
