main {
	max-width: 1300px;
	margin: 0 auto;
}


#splash {
	max-width: none;
	margin: 0 0;
	padding-bottom: 10vw;
	background-position: 50% 50%;
	min-height: 100%;
	min-width: 100%;
}

#splash h1 {
	position: absolute;
	color: #ffff;
	text-align: center;
	font-size: 2em;
}

/*Sektion Velkommen*/

#velkommen {
	padding-top: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-bottom: 3rem;
	background-color: #bcede2;
}

#velkommen .sectionwrapper {
	background-color: #fff;
	border-radius: 15px;
	padding: 4vw;
}

#velkommen .sectionwrapper .tekst {
	padding-top: 3vw;
}

/*sektion muligheder*/
#muligheder {
	padding-top: 5vw;
	padding-bottom: 5vw;
}

#muligheder a {
	text-decoration: none;
	color: black;
}

#muligheder a:hover {
	font-size: 1.1em;
}

/*Section citat*/
#citat .sectionwrapper .col {
	position: relative;
	text-align: center;
	top: -50vw;
	font-size: 2em;
}

#citat .sectionwrapper .col p {
	position: absolute;
	font-size: 1rem;
	right: 25vw;
}

/* Sektion Galleri */
#galleri .sectionwrapper {
	/*	background-color: #bcede2;*/
	/*	background-color: #79746E;*/
	background-color: #c6f5ea;
}

#galleri h2 {
	text-align: center;
	padding-top: 3vw;
	/*	padding-bottom: 3vw;*/
	/*		color: #DDCCD9;*/
	color: #2b2b2b;
}

/*Sektion Åbningstider */
#aabningstider .sectionwrapper .tider {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-gap: 2px;
}

#aabningstider .sectionwrapper .tider .dag {
	grid-column-start: 1;
	grid-column-end: 2;
}

#aabningstider .sectionwrapper .tider .tid {
	grid-column-start: 2;
	grid-column-end: 3;
}

#aabningstider .sectionwrapper .tider {
	margin-top: 8vw;
	margin-bottom: 8vw;
	margin-right: 10vw;
	margin-left: 15vw;
	border-style: double;
	border-color: #bcede2;
	border-radius: 15px;
	padding: 4vw;
}


#aabningstider .sectionwrapper .tider h2 {
	padding-bottom: 1.5vw;
}

/*Section Instagram*/
#muligheder .sectionwrapper {
	display: flex;
	grid-gap: 20px;
	padding: 5px;
	overflow-x: scroll;
}

#instagram .sectionwrapper {
	display: flex;
	grid-gap: 5px;
	padding: 5px;
	overflow-x: scroll;
	padding-bottom: 10vw;
}

figure {
	flex-grow: 1;
	flex-basis: 50%;
	flex-shrink: 0;
}

#muligheder .sectionwrapper figure {
	background-color: #ddccd9;
	border-radius: 15px;
}

figcaption {
	padding: 2.5vw;
	width: 50%;
	font-size: 1.5em;
}

#muligheder figure img {
	width: 90%;
	padding-left: 2.5vw;
	padding-top: 2.5vw;
}

#instagram img {
	width: 20%;
	padding-left: 2.5vw;
	padding-top: 2.5vw;
}

#instagram h3 {
	text-align: center;
	padding: 10px;
}


/* ----------TABLET----------------*/
/*
@media only screen and (min-width: 500px) {
	#citat .sectionwrapper .col {
	top: -45vw;
	font-size: 4em;
}

#citat .sectionwrapper .col p {
	font-size: 1rem;
	right: 25vw;
}
}
*/


/* ----------Desktop----------------*/
@media only screen and (min-width: 600px) {

	#splash {
		margin-left: 0;
	}

	#splash h1 {
		top: 30vw;
		left: 45vw;
	}

	/*	Section Velkommen */
	#velkommen .sectionwrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3rem;
	}

	#velkommen .sectionwrapper .col {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	#velkommen .sectionwrapper .tekst {
		grid-column-start: 2;
		grid-column-end: 3;
		padding-right: 3vw;
	}

	#velkommen .sectionwrapper .tekst h2 {
		padding-bottom: 4px;
	}

	/*	sektion citat */
	#citat .sectionwrapper .col {
		top: -30vw;
		font-size: 4em;
	}

	#citat .sectionwrapper .col p {
		font-size: 1rem;
		right: 25vw;
	}

	/*	Section Galleri */

	#galleri {
		max-width: none;
		margin: 0 auto;
		padding-top: 3rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 3rem;
	}

	#galleri .sectionwrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}


	#galleri .sectionwrapper img {
		display: block;
		height: 100%;
		object-fit: cover;

	}


	#galleri .sectionwrapper .img1 {
		position: relative;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	#galleri .sectionwrapper .text1 {
		position: relative;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		top: 15vw;

	}

	#galleri .sectionwrapper .img2 {
		position: relative;
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	#galleri .sectionwrapper .img3 {
		position: relative;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	#galleri .sectionwrapper .text2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		position: relative;
		top: 15vw;
	}

	#galleri .sectionwrapper .img4 {
		position: relative;
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;

	}



	/*Sektion Åbningstider*/
	#aabningstider .sectionwrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		padding-bottom: 10vw;
		margin-right: 2vw;
		margin-top: 2vw;
	}

	#aabningstider .sectionwrapper .facade {
		grid-column-start: 2;
		grid-column-end: 3;

	}

	#aabningstider .sectionwrapper .tider {
		grid-column-start: 1;
		grid-column-end: 2;
		margin: 2vw;
		margin-top: 1vw;
	}

}
