body {
    background-color: #bcede2;
}

h1 {

}

h2 {

}



img {
    width: 25vw;
    height: 25vw;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;

}

#fourth_section .row {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
}

/* #fourth_section .col {
    display: flex;
    flex-direction: column;

}
*/

 @media only screen and (min-width: 600px) {
    #fourth_section .section_wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    }
}

@media only screen and (max-width: 600px) {
     #fourth_section {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
}
