html, body {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
}


@media only screen and (min-width: 1000px) {
#Navbar {
  overflow: hidden;
}
nav {
    top 1vw;
    right: 1vw;
    position: absolute;
}


    #logo{
    top 1vw;
    left: 1vw;
    position: absolute;
    }

#Navbar a {
  float: left;
  display: block;
  color: black;
  text-decoration: none;
    margin: 1vw;

}

.content {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.contaniner {
    top: 16vw;
    left: 5vw;
  position: absolute;
  -moz-flex-direction: ;
  -ms-flex-direction: ;
  -o-flex-direction: ;
  flex-direction: ;
  margin: 30px;
  max-width: 400px;
  max-height: 400px;
  display: inline;
  object-fit: contain;

}
.contaniner2 {
    top: 16vw;
    left: 70vw;
  position: absolute;
  margin-top: 200px;
  max-width: 300px;
  max-height: 300px;
  display: inline;
  margin-left: 100px;
object-fit: contain;

}

.contaniner3 {
    top: 140vw;
    left: 1vw;
  position: absolute;
  margin-top: 200px;
  max-width: 300px;
  max-height: 300px;
  display: inline;
  margin-left: 100px;
object-fit: contain;

}
.contaniner4 {
    top: 150vw;
    left: 65vw;
  position: absolute;
  margin-top: 200px;
  max-width: 300px;
  max-height: 300px;
  display: inline;
  margin-left: 100px;
object-fit: contain;

}

#Names_1 {
    left: 32vw;
    top: 22vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;

}
#Names_2 {
    left: 32vw;
    top: 46vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;

}

#Names_3 {
    left: 32vw;
    top: 72vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_4 {
    left: 32vw;
    top: 98vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_5 {
    left: 32vw;
    top: 124vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_6 {
    left: 58vw;
    top: 34vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_7 {
    left: 58vw;
    top: 59vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_8 {
    left: 58vw;
    top: 84vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_9 {
    left: 58vw;
    top: 110vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}
#Names_10 {
    left: 32vw;
    top: 158vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}
#Names_11 {
    left: 32vw;
    top: 182vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}
#Names_12 {
    left: 32vw;
    top: 208vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_13 {
    left: 32vw;
    top: 232vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Names_14 {
    left: 54vw;
    top: 169vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}
#Names_15 {
    left: 54vw;
    top: 196vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}
#Names_16 {
    left: 54vw;
    top: 218vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}
#Names_17 {
    left: 54vw;
    top: 244vw;
    position: absolute;
    width: 10vw;
    height: 5vw;
    display:inline;
    margin: 0vw;
}

#Kaffe {
    position: absolute;
    top: 8vw;
    left: 4vw;
    font-size: 3vw;
}

#Kage {
    position: absolute;
    top: 138vw;
    left: 20vw;
    font-size: 3vw;
}

#text_1 {
   left: 32vw;
    top: 24vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;

}
#text_2 {
    left: 42vw;
    top: 36vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}

#text_3 {
   left: 32vw;
    top: 48vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}
#text_4 {
   left: 42vw;
    top: 61vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}

#text_5 {
    left: 32vw;
    top: 74vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}

#text_6 {
   left: 42vw;
    top: 86vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}

#text_7 {
    top: 100vw;
    left: 32vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}
#text_8 {
    left: 42vw;
    top: 112vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}
#text_9 {
    top: 126vw;
    left: 32vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}

#text_10 {
   top: 160vw;
    left: 32vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}
#text_11 {
   top: 184vw;
    left: 32vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}
#text_12 {
   top: 210vw;
    left: 32vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}

#text_13 {
   top: 234vw;
    left: 32vw;
    position: absolute;
    width: 30vw;
    height: 5vw;
    display: inline;
}

#text_14 {
    left: 38vw;
    top: 171vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}

#text_15 {
    left: 38vw;
    top: 198vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}
#text_16 {
    left: 38vw;
    top: 220vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}

#text_17 {
    left: 38vw;
    top: 246vw;
    position: absolute;
    width: 30vw;
    height: 20vw;
    display: inline;
}

    #text_pic_1{
        display: none;
    }
    #text_pic_2{
        display: none;
    }
    #text_pic_3{
        display: none;
    }
    #text_pic_4{
        display: none;
    }
    #text_pic_5{
        display: none;
    }
    #text_pic_6{
        display: none;
    }
    #text_pic_7{
        display: none;
    }
    #text_pic_8{
        display: none;
    }
    #text_pic_9{
        display: none;
    }
    #text_pic_10{
        display: none;
    }
    #text_pic_11{
        display: none;
    }
    #text_pic_12{
        display: none;
    }
    #text_pic_13{
        display: none;
    }
    #text_pic_14{
        display: none;
    }
    #text_pic_15{
        display: none;
    }
    #text_pic_16{
        display: none;
    }
    #text_pic_17{
        display: none;
    }

img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  max-width: 100%;
  margin-bottom: 10vw;
  transform: scale(1);
  transition: all .05s;
}

img:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}
img:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer {
    position: absolute;
    top: 260vw;
    height: 30vh;
    left: 0vw;
    padding-top: 1vw;
}
    #adresse {
        position: absolute;
    top: 6vw;
    left: 39vw;
    height: 10vh;
    padding-top: 0vw;
        text-align: center;
    }
    #copyright {
    position: absolute;
    top: 8vw;
    left: 42vw;
    height: 10vh;
    padding-top: 0vw;
    text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    #Kaffe{

        width: 150px;
        position: absolute;
        top: 112vw;
        left: 24vw;
        font-size: 8vw;
		}

    #Kage{

        width: 150px;
        position: absolute;
        top: 1170vw;
        left: 24vw;
        font-size: 8vw;
		}
    #Names_1 {
        width: 50vw;
        position: absolute;
        top: 140vw;
        left: 10vw;

    }
    #text_1 {
        width: 70vw;
        position: absolute;
        top: 146vw;
        left: 10vw;

    }
    #text_pic_1 {
        width: 50vw;
        position: absolute;
        top: 45vw;
        left: 10vw;
    }
    #Names_2 {
        width: 50vw;
        position: absolute;
        top: 260vw;
        left: 10vw;
    }
    #text_2 {
        width: 70vw;
        position: absolute;
        top: 270vw;
        left: 10vw;
    }
     #text_pic_2 {
        width: 50vw;
        position: absolute;
        top: 45vw;
        left: 10vw;
    }
    #Names_3 {
        width: 50vw;
        position: absolute;
        top: 380vw;
        left: 10vw;

    }
     #text_3 {
        width: 70vw;
        position: absolute;
        top: 390vw;
        left: 10vw;
    }
     #text_pic_3 {
        width: 50vw;
        position: absolute;
        top: 45vw;
        left: 10vw;
    }
    #Names_4 {
         width: 50vw;
        position: absolute;
        top: 500vw;
        left: 10vw;
    }
    #text_4 {
        width: 70vw;
        position: absolute;
        top: 510vw;
        left: 10vw;
    }
     #text_pic_4 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
     #Names_5 {
         width: 50vw;
        position: absolute;
        top: 620vw;
        left: 10vw;
    }
    #text_5 {
        width: 70vw;
        position: absolute;
        top: 630vw;
        left: 10vw;
    }
     #text_pic_5 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
      #Names_6 {
         width: 50vw;
        position: absolute;
        top: 730vw;
        left: 10vw;
    }
    #text_6 {
        width: 70vw;
        position: absolute;
        top: 740vw;
        left: 10vw;
    }
     #text_pic_6 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }

    #Names_7 {
         width: 50vw;
        position: absolute;
        top: 840vw;
        left: 10vw;
    }
    #text_7 {
        width: 70vw;
        position: absolute;
        top: 850vw;
        left: 10vw;
    }
     #text_pic_7 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
     #Names_8 {
         width: 50vw;
        position: absolute;
        top: 950vw;
        left: 10vw;
    }
    #text_8 {
        width: 70vw;
        position: absolute;
        top: 960vw;
        left: 10vw;
    }
     #text_pic_8 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
      #Names_9 {
         width: 50vw;
        position: absolute;
        top: 1060vw;
        left: 10vw;
    }
    #text_9 {
        width: 70vw;
        position: absolute;
        top: 1070vw;
        left: 10vw;
    }
     #text_pic_9 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_10 {
         width: 50vw;
        position: absolute;
        top: 1210vw;
        left: 10vw;
    }
    #text_10 {
        width: 70vw;
        position: absolute;
        top: 1220vw;
        left: 10vw;
    }
     #text_pic_10 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_11 {
         width: 50vw;
        position: absolute;
        top: 1320vw;
        left: 10vw;
    }
    #text_11 {
        width: 70vw;
        position: absolute;
        top: 1330vw;
        left: 10vw;
    }
     #text_pic_11 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
     #Names_12 {
         width: 50vw;
        position: absolute;
        top: 1420vw;
        left: 10vw;
    }
    #text_12 {
        width: 70vw;
        position: absolute;
        top: 1430vw;
        left: 10vw;
    }
     #text_pic_12 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_13 {
         width: 50vw;
        position: absolute;
        top: 1520vw;
        left: 10vw;
    }
    #text_13 {
        width: 70vw;
        position: absolute;
        top: 1530vw;
        left: 10vw;
    }
     #text_pic_13 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_14 {
         width: 50vw;
        position: absolute;
        top: 1670vw;
        left: 10vw;
    }
    #text_14 {
        width: 70vw;
        position: absolute;
        top: 1680vw;
        left: 10vw;
    }
     #text_pic_14 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_15 {
         width: 50vw;
        position: absolute;
        top: 1760vw;
        left: 10vw;
    }
    #text_15 {
        width: 70vw;
        position: absolute;
        top: 1770vw;
        left: 10vw;
    }
     #text_pic_15 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_16 {
         width: 50vw;
        position: absolute;
        top: 1870vw;
        left: 10vw;
    }
    #text_16 {
        width: 70vw;
        position: absolute;
        top: 1880vw;
        left: 10vw;
    }
     #text_pic_16 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    #Names_17 {
         width: 50vw;
        position: absolute;
        top: 1980vw;
        left: 10vw;
    }
    #text_17 {
        width: 70vw;
        position: absolute;
        top: 1990vw;
        left: 10vw;
    }
     #text_pic_17 {
        width: 50vw;
        position: absolute;
        top: 40vw;
        left: 10vw;
    }
    footer {
    position: absolute;
    top: 2100vw;
    height: 25vh;
    left: 0vw;
}
    .contaniner {
        display: none;
    }
    .contaniner2 {
        display: none;
    }
    .contaniner3 {
        display: none;
    }
    .contaniner4 {
        display: none;
    }

	}
