html, body {
  height: 100%;
  font-size: 16px;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
    margin: 10px;
}

body {
  background-color: palegreen;
  display: flex;
}

#Navbar {
  overflow: hidden;
}

#Navbar a {
  float: left;
  display: block;
  color: black;
  text-decoration: none;
    margin: 5px;

}

.content {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.contaniner {
    top: 8vw;
    left: 20vw;
  position: absolute;
  -moz-flex-direction: ;
  -ms-flex-direction: ;
  -o-flex-direction: ;
  flex-direction: ;
  margin: 30px;
  max-width: 400px;
  max-height: 400px;
  display: inline;
  object-fit: contain;

}
.contaniner2 {
    top: 8vw;
    left: 70vw;
  position: absolute;
  margin-top: 200px;
  max-width: 300px;
  max-height: 300px;
  display: inline;
  margin-left: 100px;
object-fit: contain;

}

.contaniner3 {
    top: 110vw;
    left: 10vw;
  position: absolute;
  margin-top: 200px;
  max-width: 300px;
  max-height: 300px;
  display: inline;
  margin-left: 100px;
object-fit: contain;

}
.contaniner4 {
    top: 120vw;
    left: 65vw;
  position: absolute;
  margin-top: 200px;
  max-width: 300px;
  max-height: 300px;
  display: inline;
  margin-left: 100px;
object-fit: contain;

}

#Names_1 {
    margin-top: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    left: 12vw;
    top: 1vw;
    position: relative;
    line-height: 20;

}
#Names_2 {
    margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    left: 18vw;
    top: 6vw;
    position: relative;
    line-height: 20;
}

#Names_3 {
    margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    top: 110vw;
    left: 40vw;
    position: absolute;
    line-height: 20;
}

#Names_4 {
    margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    top: 122vw;
    left: 60vw;
    position: absolute;
    line-height: 20;
}

#Kaffe {
    position: absolute;
    top: 30px;
    left: 250px;
    font-size: 2vw;

}

#Kage {
    position: absolute;
    top: 114vw;
    left: 20vw;
    font-size: 2vw;
}

#text_1 {
   margin-top: 6vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    left: 47vw;
    top: 2vw;
    position: absolute;
    line-height: 20;
}
#text_2 {
   margin-top: 6vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    left: 63vw;
    top: 11vw;
    position: absolute;
    line-height: 20;
}

#text_3 {
   margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    top: 112vw;
    left: 40vw;
    position: absolute;
    line-height: 20;
}
#text_4 {
   margin-top: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
    top: 124vw;
    left: 60vw;
    position: absolute;
    line-height: 20;
}


img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  max-width: 100%;
  margin-bottom: 20px;
          transform: scale(1);
  transition: all .05s;
}

img:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}
img:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
